<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="haifanou.com.luxuryradar">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-premission android:name="android.permission.INTERENT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CamaraIntentActivity"
            android:label="Take or Choose a photo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MoreInforActivity"
            android:label="Tell us more"
            android:parentActivityName=".CamaraIntentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="haifanou.com.luxuryradar.CamaraIntentActivity"/>
        </activity>
        <activity
            android:name=".ViewResultActivity"
            android:label="Are you looking for this?"
            android:parentActivityName=".MoreInforActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="haifanou.com.luxuryradar.MoreInforActivity"/>
        </activity>
    </application>

</manifest>